<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accesscontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeView</servlet-name>
        <servlet-class>controller.employee.EmployeeViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWorkerController</servlet-name>
        <servlet-class>controller.employee.ViewWorkerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeView</servlet-name>
        <url-pattern>/view/employeeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWorkerController</servlet-name>
        <url-pattern>/view/employee/worker</url-pattern>
    </servlet-mapping>
</web-app>
